@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #F4F4F4;
}


body {
  background:#F4F4F4;
}

.no-outline:focus {
  outline: none;
  /* Add any other styles you want to apply when the input is focused */
}
